body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex: 1;
}

.main-content > div {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
}

.main-content > div > h1 {
    text-align: center;
    font-size: 4rem;
    margin: 2rem 1rem 1rem;
}

.main-content > div > p {
    font-size: 2rem;
    text-align: center;
}

.main-content > form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content > form > input {
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: #ddd;
    border: solid black 0.125rem;
}

.main-content > form > div > input {
    background-color: #085394;
    border: solid black 0.125rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    color: white;
}

.main-content > form > div > input:hover {
    background-color: #3d9bed;
    cursor: pointer;
}