body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.all-content {
    display: flex;
    max-height: 90vh;
}

.sidebar {
    flex: 1;
    background-color: #ddd;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sidebar > li {
    background-color: white;
    color: black;
    border: solid black 0.125rem;
    width: 90%;
    font-size: 1.5rem;
    margin: 0.125rem 0;

}

.sidebar > li > a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black
    
}

.all-content > div {
    flex: 2.75;
    overflow: scroll;
}

.main-content > div {
    margin: 1rem;
}

.main-content > div > .rule {
    padding: 3rem 0;

}

.main-content > div > .rule > h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem;
}

.main-content > div > .rule > p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}