body {
    margin: 0;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #085394;
    margin: 0;
    height: 10vh;
}

.nav-bar li a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 0.25rem 1rem;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

.nav-bar li:not(:last-of-type) a {
    border-right: solid white 0.125rem;
}